Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{js,html,scss,json}": "prettier --write"
}

Update three to 0.162
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Remove debug output
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

Fix test
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.test.ts
Due: eslint --fix

Attempt to fix error in CI This does not happen locally for me, but on github we see: Error: Cannot find module 'ts-jest'
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Add better supprt for Compound objects - improved object naming - do not try to extrapolate / clusterify objects that do not support that - better protection for missing data
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
Due: eslint --fix

Update compodoc
  packages/phoenix-event-display/package.json
  yarn.lock
Due: prettier --write

Update prettier and fix linting
  package.json
  packages/phoenix-event-display/src/managers/ui-manager/color-options.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

build-ng-packagr deprecated "This package has been deprecated. Please use the ng-packagr builder from @angular-devkit/build-angular instead."
  packages/phoenix-ng/angular.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Update README.md
  README.md
Due: none

Update ts and zone in preparation for angular update
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Update to angular 17
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Update Angular to 17
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/cycle-events/cycle-events.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-data-explorer/event-data-explorer-dialog/event-data-explorer-dialog.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: eslint --fix, prettier --write

More dep updates
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

lerna repair
  lerna.json
Due: prettier --write

Fix prettierignore
  .prettierignore
Due: none

Attempt to get rid of warnings in release build https://github.com/integrated-application-development/sonar-delphi/pull/185
  .github/workflows/release.yml
Due: none

Tried to re-add angular-devkit/build-angular
  yarn.lock
Due: none

Update cypress
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Update angular.json for Angular17
  packages/phoenix-ng/angular.json
  packages/phoenix-ng/tsconfig.json
Due: prettier --write

Revert removal of allowSyntheticDefaultImports
  packages/phoenix-ng/tsconfig.json
Due: prettier --write

Fix phoenix-ui-components package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
Due: prettier --write

Fix lock file
  yarn.lock
Due: none

Fix import issues
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.test.ts
Due: eslint --fix

Fix angular.json and issues after angular updates
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/angular.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Update lock file
  yarn.lock
Due: none

Added support for gltf and glb zip files
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
Due: eslint --fix, prettier --write

Upgrade to three 0.164
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Fix for some compilation issues
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

Update geometry-tips.md
  guides/developers/geometry-tips.md
Due: none

We need to use handleFileInput for CI test to pass
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
Due: eslint --fix
