Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update husky
  .husky/pre-commit
  package.json
Due: prettier --write

Fix Angular app not building correctly
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/loaders/script-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/tsconfig.json
  packages/phoenix-ng/jest.config.js
  packages/phoenix-ng/tsconfig.json
Due: eslint --fix, prettier --write

Fix build error because of deprecated module resolution
  packages/phoenix-event-display/tsconfig.json
Due: prettier --write

Fix zoom not working
  packages/phoenix-event-display/src/managers/three-manager/controls-manager.ts
Due: eslint --fix

Add back verbatimModuleSyntax
  packages/phoenix-event-display/tsconfig.json
Due: prettier --write

Fix grey geometry meshes
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
Due: eslint --fix

Remove overly verbose debugging from phoenix-menu-node
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
Due: eslint --fix

Add strictTemplates to angularCompilerOptions
  packages/phoenix-event-display/tsconfig.json
Due: prettier --write

Check config group properly
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
Due: eslint --fix

Configuration changes to run jest tests
  packages/phoenix-event-display/configs/jest.conf.js
  packages/phoenix-event-display/tsconfig.json
Due: prettier --write

Fixes for tests - this includes fixes for falsiness, in the tested code, and fixes for some test conditions.
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/tests/loaders/objects/phoenix-objects.test.ts
  packages/phoenix-event-display/src/tests/loaders/phoenix-loader.test.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/effects-manager.test.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/selection-manager.test.ts
Due: eslint --fix

Added missing documentation
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
Due: eslint --fix

This test fails becuase handleFileInput is no longer called by handleGLTFInput
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.test.ts
Due: eslint --fix

Remove unused import
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu.component.test.ts
Due: eslint --fix

Migrate to Angular 18 Some breaking changes regarding material API https://github.com/angular/components/releases/tag/18.0.0
  docs/styles.a61efe5992a364a5.css.map
  package-lock.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/_theming.scss
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Upgrade many packages Notably to threejs r0.168.0
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Rebuild yarn.lock
  yarn.lock
Due: none

Adding eslint config
  eslint.config.mjs
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

ESLint "fixes" (in most cases it was simply blocking a false positive, so I need to come back to this)
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-ng/projects/phoenix-app/cypress/plugins/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/config/config-slider/config-slider.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser.component.ts
Due: eslint --fix

Fixes #654
  packages/phoenix-ng/projects/phoenix-ui-components/lib/assets/icons/png.svg
Due: none

Remove extraneous debugging
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.ts
Due: eslint --fix

Fix for Illegal Constructor error
  packages/phoenix-event-display/src/helpers/file.ts
Due: eslint --fix

Add configurable option to make some track collections thicker
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/managers/url-options-manager.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts
Due: eslint --fix

Height is deprecated by deoth for TextGeometry
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

Hopefully fix the issues with loading configurations. Fixes #582.
  packages/phoenix-event-display/src/helpers/file.ts
  packages/phoenix-event-display/src/managers/state-manager.ts
Due: eslint --fix

No need to load files twice.
  packages/phoenix-event-display/src/helpers/file.ts
Due: eslint --fix

Update label text when loading labels file, and store label text with EDM object to do this
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix, prettier --write

Correctly reset GUI label colour when loading configuration
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
Due: eslint --fix

Recolour sub labels too.
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
Due: eslint --fix

Improve documentation
  packages/phoenix-event-display/src/lib/models/cut.model.ts
Due: eslint --fix

Add viewUpdate. This isn't intended to be a final implementation (we shouldn't do it for all buttons) but just as a test to see if it works (which it doesn't)
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.ts
Due: eslint --fix, prettier --write

[#689] Reset cut is not updating view
  packages/phoenix-event-display/src/lib/models/cut.model.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/state-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/color-options.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.html
Due: eslint --fix, prettier --write

Prettier fixes
  packages/phoenix-event-display/src/lib/models/cut.model.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
Due: eslint --fix

Disable excessive pre-commit check
  .husky/pre-commit
Due: none

Update workflows to node v20
  .github/workflows/main.yml
Due: none

Protection for missing configuration etc
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{js,html,scss,json}
