Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Misc updates 2
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

fix: restore callback typings + initialize defaults + replace python with python3 in Dockerfile
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

fix: correct viewOffset typing to resolve TS2349 error
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

Update node types
  package.json
  yarn.lock
Due: prettier --write

Update lerna and add ts-node
  package.json
  yarn.lock
Due: prettier --write

Update cypress
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Update concurrently
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

fix: python install and node-gyp python3 path for CI
  Dockerfile
Due: none

fix: remove unsupported --verbose flag from yarn install
  Dockerfile
Due: none

docs: start clean Angular 20 upgrade tracking
  ANGULAR_20_UPGRADE.md
  packages/phoenix-ng/ANGULAR_20_UPGRADE.md
Due: none

docs: update Angular 20 upgrade progress
  ANGULAR_20_UPGRADE.md
Due: none

style: apply prettier formatting
  .github/workflows/smoke_test.yml
  .yarnrc.yml
  ANGULAR_20_UPGRADE.md
  CONTRIBUTING.md
  README.md
  eslint.config.mjs
  guides/developers/README.md
  guides/developers/convert-gdml-to-gltf.md
  guides/developers/event-data-loader.md
  guides/developers/event-display.md
  guides/developers/event_data_format.md
  guides/developers/geometry-tips.md
  guides/developers/set-up-phoenix.md
  guides/developers/test-setup.md
  guides/developers/using-jsroot.md
  guides/release.md
  guides/users.md
  packages/phoenix-ng/ANGULAR_20_UPGRADE.md
Due: none

chore(angular): bump Angular packages to v20
  packages/phoenix-ng/package.json
Due: prettier --write

chore(angular): bump Angular packages to v20 (step 1)
  packages/phoenix-ng/package.json
Due: prettier --write

chore(angular): resolve package.json conflicts and normalize v20 deps
  packages/phoenix-ng/package.json
Due: prettier --write

chore(angular): update yarn.lock for Angular v20
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Fix CI tests and increase build memory limit
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/playground/playground.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay-view/overlay-view.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.test.ts
Due: eslint --fix, prettier --write

Fix cleanup crash in object-selection and mock services in tests
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/trackml/trackml.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/object-selection/object-selection.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link.component.test.ts
Due: eslint --fix

fix(tests): stabilize Jest/CDK tests and fix ObjectSelectionComponent mocks
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/trackml/trackml.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/object-selection/object-selection.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link.component.test.ts
  packages/phoenix-ng/setup-jest.ts
Due: eslint --fix

fix(ci): ensure nginx serves built app correctly
  Dockerfile
Due: none

fix: update lockfile and use workspace build command
  Dockerfile
  yarn.lock
Due: none

feat: add per-collection track extension to radius (#177)
  CHANGELOG.md
  guides/developers/README.md
  guides/developers/track-extension.md
  packages/phoenix-event-display/src/helpers/rk-helper.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/tests/helpers/rk-helper.test.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
Due: eslint --fix

fix(test): make setup-jest ESLint-safe for Angular 20
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/trackml/trackml.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/object-selection/object-selection.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link.component.test.ts
  packages/phoenix-ng/setup-jest.ts
Due: eslint --fix

test(jest): fix Angular 20 SharedStylesHost mocking
  packages/phoenix-ng/setup-jest.ts
Due: eslint --fix

feat: add XR UI controls (#558)
  CHANGELOG.md
  guides/developers/running-with-xr-support.md
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-ui.ts
Due: eslint --fix

docs: update README with recent GSoC participation years (2022-2025)
  README.md
Due: none

chore: apply lint formatting fixes
  packages/phoenix-event-display/src/helpers/rk-helper.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
Due: eslint --fix

chore: apply lint formatting fixes
  packages/phoenix-event-display/src/helpers/rk-helper.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
Due: eslint --fix

fix: clean up event listeners in OverlayComponent and SSModeComponent
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ss-mode/ss-mode.component.ts
Due: eslint --fix

fix: apply lint formatting fixes
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ss-mode/ss-mode.component.ts
Due: eslint --fix

fix: stabilize Jest tests for Angular 20 compatibility
  packages/phoenix-ng/jest.config.js
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/embed-menu/experiment-link/experiment-link.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/config/config-slider/config-slider.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/testing/test.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/menu-toggle/menu-toggle.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ss-mode/ss-mode.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu-wrapper/ui-menu-wrapper.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/public_api.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/testing/test.module.ts
  packages/phoenix-ng/setup-jest.ts
  packages/phoenix-ng/tsconfig.spec.json
Due: eslint --fix, prettier --write

feat: add URL event loading with auto-refresh (#448)
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/helpers/rk-helper.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-ui.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
Due: eslint --fix

fix: resolve duplicate AttributePipe and stabilize Angular 20 tests
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
Due: eslint --fix

fix(accessibility): add descriptive alt text
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.html
Due: prettier --write

feat: improve JiveXML extra hits handling with UI controls and RK extrapolation (#268)
  CHANGELOG.md
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/lib/types/configuration.ts
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-ui.ts
Due: eslint --fix

fix(ui): handle FileReader errors in IO options dialog
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
Due: eslint --fix

chore: update yarn.lock after TypeScript and Jest config changes
  yarn.lock
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{js,html,scss,json}
