Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{js,html,scss,json}": "prettier --write"
}

docs: achieve 100% documentation coverage for EffectsManager
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
Due: eslint --fix

feat(effects-manager): add EffectsState enum and setHoverColor() (#886)
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
Due: eslint --fix

feat: add eta-phi energy map panel
  packages/phoenix-event-display/src/helpers/eta-phi-config.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-ng/projects/phoenix-app/src/assets/icons/eta-phi.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/assets/icons/eta-phi.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.ts
Due: eslint --fix, prettier --write

fix: hide eta-phi panel button on LHCb section
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.html
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.ts
Due: eslint --fix, prettier --write

test(effects-manager): add tests for EffectsState enum and setHoverColor() (#886)
  packages/phoenix-event-display/src/tests/managers/three-manager/effects-manager.test.ts
Due: eslint --fix

feat(notification-service): add NotificationService with 4 severity levels (#886)
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/notification.service.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/notification.service.ts
Due: eslint --fix

refactor(effects-manager): replace implicit boolean checks with EffectsState enum in render path (#886)
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
Due: eslint --fix

Update release.yml
  .github/workflows/release.yml
Due: none

Cleanup of some mistakenly added changes
  CHANGELOG.md
  docs/api-docs/changelog.html
  lerna-debug.log
  packages/phoenix-event-display/CHANGELOG.md
  packages/phoenix-ng/CHANGELOG.md
  packages/phoenix-ng/projects/phoenix-ui-components/CHANGELOG.md
Due: prettier --write

Cleanup of some mistakenly added changes
  CHANGELOG.md
  docs/api-docs/changelog.html
  lerna-debug.log
  packages/phoenix-event-display/CHANGELOG.md
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/CHANGELOG.md
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/CHANGELOG.md
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Revert lerna version
  lerna.json
Due: prettier --write

Fix docs
  docs/api-docs/changelog.html
  docs/api-docs/classes/EffectsManager.html
  docs/api-docs/coverage.html
  docs/api-docs/interfaces/EtaPhiConfig.html
  docs/api-docs/js/menu-wc.js
  docs/api-docs/js/menu-wc_es5.js
  docs/api-docs/js/search/search_index.js
  docs/api-docs/miscellaneous/variables.html
  docs/api-docs/overview.html
  docs/api-docs/properties.html
  docs/main-WUKR2QJL.js
Due: prettier --write

This fixes #901. The icon colour was not updating with light/dark theme.
  packages/phoenix-ng/projects/phoenix-app/src/assets/icons/eventData.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/assets/icons/eventData.svg
Due: none

Updating to latest point versions of angular 20
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Moves some UI elements under a More Information icon, and updates the icons and naming to be a bit more consistent
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/info-panel/info-panel-overlay/info-panel-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/more-info/more-info.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/more-info/more-info.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/more-info/more-info.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
Due: eslint --fix, prettier --write

Update to put the Track Kinematics under the More Info menu
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/kinematics-panel/kinematics-panel.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/more-info/more-info.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/more-info/more-info.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.ts
Due: eslint --fix, prettier --write

Make test pass. Update compodoc version, exclude some stuff I don't think we need to document and one minor fix.
  packages/phoenix-event-display/configs/compodoc.conf.json
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/utils.ts
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
  yarn.lock
Due: eslint --fix, prettier --write

file fetch errors
  phoenix/packages/phoenix-event-display/src/helpers/event-autoloader.ts
Due: eslint --fix

docs(notification-service): add NotificationService documentation to README (#909)
  packages/phoenix-ng/projects/phoenix-ui-components/README.md
Due: none

style: format README with prettier
  packages/phoenix-ng/projects/phoenix-ui-components/README.md
Due: none

feat: add masterclass panel and ATLAS masterclass landing page (closes #835, closes #915)
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/helpers/invariant-mass.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/app.module.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.html
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas-masterclass/atlas-masterclass.component.html
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas-masterclass/atlas-masterclass.component.scss
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas-masterclass/atlas-masterclass.component.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas-masterclass/atlas-masterclass.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/assets/icons/physics.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/assets/icons/physics.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.ts
Due: eslint --fix, prettier --write

added toggle on home page
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.html
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/nav/nav.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu-wrapper/ui-menu-wrapper.component.html
Due: prettier --write

Update cms-loader.ts with new changes
  packages/phoenix-event-display/src/loaders/cms-loader.ts
Due: eslint --fix

Optimize IG archive loading with single-pass regex and finally block
  packages/phoenix-event-display/src/loaders/cms-loader.ts
Due: eslint --fix

Make tooltip more precise
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/dark-theme/dark-theme.component.html
Due: prettier --write

Fix missing export
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
Due: prettier --write

chore(release): v4.0.1
  CHANGELOG.md
  lerna.json
  packages/phoenix-ng/CHANGELOG.md
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/CHANGELOG.md
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Update jsroot and Three Needed more work arounds for jsroot including @resvg/resvg-js (I'm not completely sure about this one, perhaps revisit) Also, explicitly need to import Timer.
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/angular.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  scripts/patch-jsroot-three.js
  yarn.lock
Due: prettier --write

feat: add session recording and replay for event exploration (closes #883)
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/managers/session-manager/index.ts
  packages/phoenix-event-display/src/managers/session-manager/session-codec.ts
  packages/phoenix-event-display/src/managers/session-manager/session-format.ts
  packages/phoenix-event-display/src/managers/session-manager/session-manager.ts
  packages/phoenix-event-display/src/managers/session-manager/session-player.ts
  packages/phoenix-event-display/src/managers/session-manager/session-recorder.ts
  packages/phoenix-event-display/src/managers/url-options-manager.ts
  packages/phoenix-event-display/src/tests/managers/session-manager/player.test.ts
  packages/phoenix-event-display/src/tests/managers/session-manager/session-codec.test.ts
  packages/phoenix-event-display/src/tests/managers/session-manager/session-format.test.ts
  packages/phoenix-event-display/src/tests/managers/session-manager/session-recorder.test.ts
  packages/phoenix-event-display/src/tests/managers/url-options-manager.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/playground/playground.component.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/trackml/trackml.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/session-pill/session-pill.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/session-pill/session-pill.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/session-pill/session-pill.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu-wrapper/ui-menu-wrapper.component.html
Due: eslint --fix, prettier --write

fix: require confirmation before replaying shared sessions, harden remote fetch (#883)
  packages/phoenix-event-display/src/managers/session-manager/session-manager.ts
  packages/phoenix-event-display/src/managers/url-options-manager.ts
  packages/phoenix-event-display/src/tests/managers/session-manager/manager.test.ts
  packages/phoenix-event-display/src/tests/managers/url-options-manager.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/session-pill/session-pill.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/session-pill/session-pill.component.ts
Due: eslint --fix, prettier --write

Adding angular builtins
  packages/phoenix-ng/angular.json
Due: prettier --write

Enhance UI components stacking and panel behavior
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-browser/event-browser-overlay/event-browser-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-browser/event-browser.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/info-panel/info-panel.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/kinematics-panel/kinematics-panel-overlay/kinematics-panel-overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/kinematics-panel/kinematics-panel.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/more-info/more-info.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/more-info/more-info.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/overlay-accordion.service.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/overlay-cascade.service.ts
Due: eslint --fix, prettier --write
