Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(color-manager): preserve manually-set vertex colors in Color by Vertex
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
Due: eslint --fix

fix(collections-info): remove redundant index column and format decimals
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix, prettier --write

fix(collections-info): properly format array values like pos
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix

fix(collections-info): handle stringified numbers and arrays in pos column
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix

fix(collections-info): use ES2020-compatible string methods
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix

fix(collections-info): recursively format nested arrays like track pos
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix

fix(jivexml-loader): fix track.author defaulting to an empty object
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
Due: eslint --fix

fix(collections-info): allow wider resize and fix horizontal scrolling
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.scss
Due: prettier --write

revert(collections-info): keep pos array wrapping as before
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.scss
Due: prettier --write

fix(app): improvements to how collections are shown (#972)
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.scss
Due: eslint --fix, prettier --write

fix(event-display): sync eta-phi view with 3d view visibility and cuts
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.ts
Due: eslint --fix

docs: add documentation for event dataset browser, physlite loader, and autoloader
  packages/phoenix-event-display/README.md
  packages/phoenix-ng/projects/phoenix-ui-components/README.md
Due: none

refactor(effects-manager): extract GLSL shaders to TypeScript modules (#886)
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/shaders/hover-fragment.ts
  packages/phoenix-event-display/src/managers/three-manager/shaders/hover-vertex.ts
Due: eslint --fix

refactor(effects-manager): extract GLSL shaders to TypeScript modules (#886) (#973)
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/shaders/hover-fragment.ts
  packages/phoenix-event-display/src/managers/three-manager/shaders/hover-vertex.ts
Due: eslint --fix

chore(deps): align Angular packages on 20.3.28
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

chore(deps): align Angular packages on 20.3.28 (#974)
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

fix(app): stop the dev server pre-bundling phoenix-event-display
  README.md
  packages/phoenix-ng/README.md
  packages/phoenix-ng/angular.json
Due: prettier --write

docs: explain why phoenix-event-display changes need a dev server restart
  README.md
  packages/phoenix-ng/README.md
Due: none

fix(build): build the event display before starting the dev server
  README.md
  package.json
Due: prettier --write

fix(event-display): server staleness (#976)
  README.md
  package.json
  packages/phoenix-ng/README.md
  packages/phoenix-ng/angular.json
Due: prettier --write

chore: ignore local .pool.root event data samples
  .gitignore
Due: none

fix(event-display): decode multi-chunk LZMA2 in jsroot
  package.json
  scripts/jsroot-patch/lzma.mjs
  scripts/patch-jsroot-three.js
  scripts/patch-jsroot.js
Due: prettier --write

feat(event-display): read Trk::TrackCollections by default
  packages/phoenix-event-display/src/loaders/atlasesd-loader.ts
  packages/phoenix-event-display/src/tests/loaders/atlasesd-loader.test.ts
Due: eslint --fix

fix(event-display): correct the ESD skip summary wording
  packages/phoenix-event-display/src/loaders/atlasesd-loader.ts
  packages/phoenix-event-display/src/tests/loaders/atlasesd-loader.test.ts
Due: eslint --fix

feat(event-display): read Trk::TrackCollection from ATLAS ESD
  packages/phoenix-event-display/src/loaders/atlasesd-loader.ts
  packages/phoenix-event-display/src/tests/loaders/atlasesd-loader.test.ts
Due: eslint --fix

feat(event-display): add ATLAS ESD loader
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/loaders/atlasesd-loader.ts
  packages/phoenix-event-display/src/tests/helpers/jsroot-mock.ts
  packages/phoenix-event-display/src/tests/loaders/atlasesd-loader.test.ts
Due: eslint --fix

feat(ui): add ATLAS ESD import option
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/extras/event-data-import.ts
Due: eslint --fix

docs(event-display): document ESDResolvedCollection.def
  packages/phoenix-event-display/src/loaders/atlasesd-loader.ts
Due: eslint --fix

feat(event-display): draw Trk::Tracks through their measured positions
  packages/phoenix-event-display/src/loaders/atlasesd-loader.ts
  packages/phoenix-event-display/src/tests/loaders/atlasesd-loader.test.ts
Due: eslint --fix

feat(event-display): report ESD containers left out of the allow-list
  packages/phoenix-event-display/src/loaders/atlasesd-loader.ts
  packages/phoenix-event-display/src/tests/loaders/atlasesd-loader.test.ts
Due: eslint --fix

fix(event-display): do not report an unmeasured momentum as pT
  packages/phoenix-event-display/src/loaders/atlasesd-loader.ts
  packages/phoenix-event-display/src/tests/loaders/atlasesd-loader.test.ts
Due: eslint --fix

feat(event-display): report skipped ESD objects and why
  packages/phoenix-event-display/src/loaders/atlasesd-loader.ts
  packages/phoenix-event-display/src/tests/loaders/atlasesd-loader.test.ts
Due: eslint --fix

feat(event-display,ui): Add a loader for ATLAS ESD/AOD files (#975)
  .gitignore
  package.json
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/loaders/atlasesd-loader.ts
  packages/phoenix-event-display/src/tests/helpers/jsroot-mock.ts
  packages/phoenix-event-display/src/tests/loaders/atlasesd-loader.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/extras/event-data-import.ts
  scripts/jsroot-patch/lzma.mjs
  scripts/patch-jsroot-three.js
  scripts/patch-jsroot.js
Due: eslint --fix, prettier --write

feat(event-display): Allow vertices to be linked to different track types
  packages/phoenix-event-display/src/lib/types/event-data.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
Due: eslint --fix

fix(event-display): fix track 'Color by' when loading JSON with linked tracks after one without
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
Due: eslint --fix

fix(event-display): sync eta-phi view with 3d view visibility and cuts
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/loading-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.ts
Due: eslint --fix

feat(event-display): allow vertices to be linked to different track types
  packages/phoenix-event-display/src/lib/types/event-data.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
Due: eslint --fix

docs: add documentation for event dataset browser, physlite loader, and autoloader (#967)
  packages/phoenix-event-display/README.md
  packages/phoenix-ng/projects/phoenix-ui-components/README.md
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{js,html,scss,json}
