Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(ui-components): tear down grid-shift subscriptions on destroy (#993)
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
Due: eslint --fix

fix(event-display): clean up XR session listener on session end
  packages/phoenix-event-display/src/managers/three-manager/xr/xr-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/xr/xr-manager.test.ts
Due: eslint --fix

fix(event-display): stop leaking a contextmenu listener per grid shift
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/grid-shift-listeners.test.ts
Due: eslint --fix

fix(event-display): keep loading a zip when one JSON entry is malformed
  packages/phoenix-event-display/src/managers/url-options-manager.ts
  packages/phoenix-event-display/src/tests/managers/url-options-manager.test.ts
Due: eslint --fix

fix(ui-components): close the dialog when a download animation cannot start
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/animate-camera.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/animate-camera.component.ts
Due: eslint --fix

fix(event-display): stop VR movement when the session ends mid-press
  packages/phoenix-event-display/src/managers/three-manager/xr/vr-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/xr/vr-manager.test.ts
Due: eslint --fix

fix(event-display): keep labels visible when an animation cannot run
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/animations-manager.test.ts
Due: eslint --fix

fix(ui-components): guard view options teardown before init
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix

fix(event-display): drop pending state changes on cleanup
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/tests/event-display.test.ts
Due: eslint --fix

fix(ui-components): unsubscribe from download progress on destroy
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/download-animation-dialog/download-animation-dialog.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/download-animation-dialog/download-animation-dialog.component.ts
Due: eslint --fix

fix(event-display): clean up XR session listener on session end (#1000)
  packages/phoenix-event-display/src/managers/three-manager/xr/xr-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/xr/xr-manager.test.ts
Due: eslint --fix

fix(event-display): stop leaking a contextmenu listener per grid shift (#1002)
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/grid-shift-listeners.test.ts
Due: eslint --fix

fix(event-display): keep loading a zip when one JSON entry is malformed (#1004)
  packages/phoenix-event-display/src/managers/url-options-manager.ts
  packages/phoenix-event-display/src/tests/managers/url-options-manager.test.ts
Due: eslint --fix

fix(event-display): stop VR movement when the session ends mid-press (#1008)
  packages/phoenix-event-display/src/managers/three-manager/xr/vr-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/xr/vr-manager.test.ts
Due: eslint --fix

fix(event-display): keep labels visible when an animation cannot run (#1010)
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/animations-manager.test.ts
Due: eslint --fix

fix(ui-components): close the dialog when a download animation cannot start (#1006)
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/animate-camera.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/animate-camera.component.ts
Due: eslint --fix

fix(ui-components): guard view options teardown before init (#1012)
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix

fix(event-display): drop pending state changes on cleanup (#1014)
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/tests/event-display.test.ts
Due: eslint --fix

fix(ui-components): unsubscribe from download progress on destroy (#1016)
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/download-animation-dialog/download-animation-dialog.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/download-animation-dialog/download-animation-dialog.component.ts
Due: eslint --fix

build(deps): resolve vulnerable transitive tar dependency (#998)
  package.json
  yarn.lock
Due: prettier --write

build(deps): upgrade lerna to 9.0.7 for tar 7 compatibility
  package.json
  yarn.lock
Due: prettier --write

fix(ui-components,event-display): declare imported deps, drop dead ones
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

fix(ui-components,event-display): declare imported deps, drop dead ones (#1018)
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

chore(release): v4.2.1
  CHANGELOG.md
  docs/404.html
  docs/api-docs/changelog.html
  docs/api-docs/dependencies.html
  docs/api-docs/js/search/search_index.js
  docs/api-docs/properties.html
  docs/index.html
  docs/main-SN5QIMTS.js
  docs/main-SN5QIMTS.js.map
  docs/main-YTKSRDDV.js.map
  lerna.json
  packages/phoenix-event-display/CHANGELOG.md
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/CHANGELOG.md
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/CHANGELOG.md
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

fix(event-display): jivexml not reading charge correctly
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
Due: eslint --fix

fix(event-display): jivexml not reading charge correctly (#1019)
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
Due: eslint --fix

chore(release): v4.2.2
  CHANGELOG.md
  docs/404.html
  docs/api-docs/changelog.html
  docs/api-docs/classes/JiveXMLLoader.html
  docs/api-docs/js/search/search_index.js
  docs/api-docs/properties.html
  docs/index.html
  docs/main-HWZLTO6N.js
  docs/main-HWZLTO6N.js.map
  docs/main-SN5QIMTS.js.map
  lerna.json
  packages/phoenix-event-display/CHANGELOG.md
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/CHANGELOG.md
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

fix(ui): stop resized overlays sticking to the cursor
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.ts
Due: eslint --fix, prettier --write

fix(ui): let the Phoenix menu use the full window height
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu.component.scss
Due: prettier --write

fix(event-display): remove duplicated eventBus property from EventDisplay
  packages/phoenix-event-display/src/event-display.ts
Due: eslint --fix

fix(app): better resizing behaviour of panels (#1020)
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.ts
Due: eslint --fix, prettier --write

feat: add in-browser histogram panel using jsroot (#840) (#843)
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/helpers/histogram-config.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-ng/projects/phoenix-app/src/assets/icons/histogram.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/assets/icons/histogram.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/histogram-panel/histogram-panel-overlay/histogram-panel-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/histogram-panel/histogram-panel-overlay/histogram-panel-overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/histogram-panel/histogram-panel-overlay/histogram-panel-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/histogram-panel/histogram-panel.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/histogram-panel/histogram-panel.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/histogram-panel/histogram-panel.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.ts
Due: eslint --fix, prettier --write

fix(app): make histogram panel addition configurable
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas-masterclass/atlas-masterclass.component.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas-masterclass/atlas-masterclass.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.ts
Due: eslint --fix, prettier --write

fix(app): make histogram panel addition configurable (#1021)
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas-masterclass/atlas-masterclass.component.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas-masterclass/atlas-masterclass.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.ts
Due: eslint --fix, prettier --write

fix(event-display): never save a menu node without a toggle state
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/phoenix-menu/phoenix-menu-node.test.ts
Due: eslint --fix

fix(event-display): keep child toggle states when an ancestor is toggled off
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/phoenix-menu/phoenix-menu-node.test.ts
Due: eslint --fix

fix(event-display): menu node undefined toggle state (#1024)
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/phoenix-menu/phoenix-menu-node.test.ts
Due: eslint --fix

fix(event-display): keep a collection's color over a save and load
  packages/phoenix-event-display/src/managers/ui-manager/color-options.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/tests/loaders/jivexml-menu-integration.test.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/color-options.test.ts
Due: eslint --fix

fix(event-display): keep a collection's color over a save and load (#1025)
  packages/phoenix-event-display/src/managers/ui-manager/color-options.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/tests/loaders/jivexml-menu-integration.test.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/color-options.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{js,html,scss,json}
