Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{js,html,scss,json}": "prettier --write"
}

Be consistent about interface of parseGLTFGeometry
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

Revert "Be consistent about interface of parseGLTFGeometry"
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

Print warning message to console.
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
Due: eslint --fix

Update event_data_format.md
  guides/developers/event_data_format.md
Due: none

Update to three 0.165
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Update a bunch of packages
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Prettier fixes
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.html
Due: prettier --write

Fixed support for gltf and glb zip files
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
Due: eslint --fix

Update of set-up-phoenix for Angular 17+
  guides/developers/set-up-phoenix.md
Due: none

Add missing jszip dependency
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Dependency updates
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Lint fixes
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.html
Due: prettier --write

Upgrade eslint
  package.json
  yarn.lock
Due: prettier --write

Linter fix with newer eslint
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

Fix for Cannot set box hit color from JSON #664
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

Fix many compilation issues
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/helpers/runge-kutta.ts
  packages/phoenix-event-display/src/helpers/zip.ts
  packages/phoenix-event-display/src/lib/types/configuration.ts
  packages/phoenix-event-display/src/loaders/cms-loader.ts
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
  packages/phoenix-event-display/src/loaders/jsroot-event-loader.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/loaders/objects/tracks.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/loaders/trackml-loader.ts
  packages/phoenix-event-display/src/managers/state-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/controls-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/export-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/url-options-manager.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.ts
Due: eslint --fix

add setColorForObject helper function, and fix compilation errors
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
Due: eslint --fix

Fix callback
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

fix .material property handling
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
Due: eslint --fix

fix scaleChildObjects
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

Cannot add property to object in TypeScript
  packages/phoenix-event-display/src/loaders/objects/tracks.ts
Due: eslint --fix

Cannot assign null to a type
  packages/phoenix-event-display/src/managers/three-manager/renderer-manager.ts
Due: eslint --fix

getEventDataTypeFolder might return undefined, and cannot assign null to a type
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-ui.ts
Due: eslint --fix

Handled undefined property
  packages/phoenix-event-display/src/managers/three-manager/xr/xr-manager.ts
Due: eslint --fix

Many misc compilation issues related to types of keys etc
  packages/phoenix-event-display/src/managers/ui-manager/color-options.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
Due: eslint --fix

Position apparently might be undefined
  packages/phoenix-event-display/src/managers/three-manager/xr/vr-manager.ts
Due: eslint --fix

More compilation issues (but here I am worried that I don't understand the logic completely)
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
Due: eslint --fix

Minor compilation fixes
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
Due: eslint --fix

More compilation failures
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
Due: eslint --fix

This does not compile
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
Due: eslint --fix

Compilation problems with phoenix-ng
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/cms/cms.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/geometry/geometry.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/vp-toggle/vp-toggle.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/playground/playground.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/trackml/trackml.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/embed-menu/experiment-link/experiment-link.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/file-explorer/file-explorer.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/nav/nav.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/animate-camera.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/cycle-events/cycle-events.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/dark-theme/dark-theme.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-data-explorer/event-data-explorer-dialog/event-data-explorer-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-selector/event-selector.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/experiment-info/experiment-info.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/info-panel/info-panel-overlay/info-panel-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/info-panel/info-panel.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/object-selection/object-selection-overlay/object-selection-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/object-selection/object-selection.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay-view/overlay-view-window/overlay-view-window.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay-view/overlay-view.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link-dialog/share-link-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ss-mode/ss-mode.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/tree-menu/tree-menu.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/extras/attribute.pipe.ts
Due: eslint --fix

Use recommended browserlist: https://v17.angular.io/guide/build#configuring-browser-compatibility
  packages/phoenix-ng/projects/phoenix-app/browserslist
Due: none

More compact imports
  packages/phoenix-ng/projects/phoenix-app/src/app/app.module.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts
Due: eslint --fix

Temporarily remove support for singleEvent, as this was causing an error.
  packages/phoenix-ng/projects/phoenix-app/src/app/app.module.ts
Due: eslint --fix

Fix a compilation issues
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
Due: eslint --fix

Use firefox for debugging, instead of Chrome
  .vscode/launch.json
Due: prettier --write
