Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

prettier fix
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
Due: eslint --fix

update test files
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.spec.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix

prettier fix
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
Due: eslint --fix

fix tests
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
Due: eslint --fix

fix comment in scene manager
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

fix a comment in ui manager
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
Due: eslint --fix

fix tests
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
Due: eslint --fix

test fix
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
Due: eslint --fix

fix tests
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
Due: eslint --fix

fix tests
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
Due: eslint --fix

Revert changes to documentation
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
Due: eslint --fix

Update main.yml
  .github/workflows/main.yml
Due: none

Attempt to workaround Issuing loading configuration on Safari #582 This is NOT a clean solution but I do not know what else to try
  packages/phoenix-event-display/src/helpers/file.ts
Due: eslint --fix

Prettier fixes
  packages/phoenix-event-display/src/helpers/file.ts
Due: eslint --fix

Reintroduced make-picture-component.test
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.test.ts
Due: eslint --fix

Update test-setup.md
  guides/developers/test-setup.md
Due: none

Implemented size checking in make-picture
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.ts
Due: eslint --fix, prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix minor typo
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

Fix the failing tests by introducing new mocked function
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.test.ts
Due: eslint --fix

Resurrected (and improved) tooltip for cycle event tool
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/cycle-events/cycle-events.component.html
Due: prettier --write

Added a functionality to show 3d points and distanace, and to translate grid
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.html
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/playground/playground.component.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/trackml/trackml.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/distance/distance.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/distance/distance.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/distance/distance.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/distance/distance.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix, prettier --write

Added a functionality to highlight subdetectors
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/three-manager/controls-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/selection-manager.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
Due: eslint --fix, prettier --write

Merged the 3D Distance feature into "view options"
  guides/users.md
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/distance/distance.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/distance/distance.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/distance/distance.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/distance/distance.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix, prettier --write

show both absolute and relative coordinates
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix, prettier --write

build: make release_type input a choice
  .github/workflows/release.yml
Due: none

Fixed grid translation
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.html
Due: prettier --write

Allowed to specify "no-cache" for file loading
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/file-explorer/file-explorer.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/file-explorer/file-explorer.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/file-explorer/file-explorer.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/cycle-events/cycle-events.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-data-explorer/event-data-explorer-dialog/event-data-explorer-dialog.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-data-explorer/event-data-explorer-dialog/event-data-explorer-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/file-loader.service.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

Add a reference to the Belle II event display based on Phoenix
  README.md
Due: none

Update Phoenix to three 0.160.0
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

CI fixes
  packages/phoenix-event-display/src/tests/helpers/coordinate-helper.test.ts
Due: eslint --fix

Update phoenix-menu-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
Due: eslint --fix

Prettier fixes
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
Due: eslint --fix

Update users.md
  guides/users.md
Due: none

Work around yarn warning: ➤ YN0002: │ root@workspace:. doesn't provide ts-jest (pc27f3), requested by ts-jest-mock-import-meta
  .yarnrc.yml
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Not sure why top level package needs dev dep on three types?
  package.json
  yarn.lock
Due: prettier --write

Attempt to work around jsroot issues
  .yarnrc.yml
  yarn.lock
Due: none

Work around yarn warning ➤ YN0060: │ phoenix-ng@workspace:packages/phoenix-ng provides cypress (pf972e) with version 12.17.3, which doesn't satisfy what cypress-plugin-snapshots requests
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{js,html,scss,json}
