Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(jest): allow transforming three.js ESM modules and consolidate TypeScript version
  package.json
  packages/phoenix-event-display/configs/jest.conf.js
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

fix(jest): mock three.js example ESM modules in tests
  packages/phoenix-event-display/__mocks__/three-jsm.js
  packages/phoenix-event-display/configs/jest.conf.js
Due: prettier --write

feat: add URL event loading with auto-refresh clean-branch(#448)
  guides/developers/url-event-loading.md
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-ui.ts
Due: eslint --fix

fix(ui): clear cycle-events interval on component destroy
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/cycle-events/cycle-events.component.ts
Due: eslint --fix

refactor: scope auto-refresh to cycling flow via fileLoader (#448)
  guides/developers/url-event-loading.md
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/file-loader.service.ts
Due: eslint --fix

refactor: remove unused URL loading code per reviewer feedback (#448)
  guides/developers/url-event-loading.md
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-ui.ts
Due: eslint --fix

feat: database modernization (web worker + zod)
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/helpers/validation-schemas.ts
  packages/phoenix-event-display/src/loaders/cms-loader.ts
  packages/phoenix-event-display/src/tests/loaders/cms-loader.worker.test.ts
  packages/phoenix-event-display/src/workers/cms-loader.worker.ts
Due: eslint --fix, prettier --write

feat: make excluded columns configurable in CollectionsInfoOverlay
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
  packages/phoenix-event-display/src/managers/url-options-manager.ts
Due: eslint --fix

chore: update yarn.lock dependency
  yarn.lock
Due: none

fix: add unsubscribe mechanism to prevent callback memory leaks
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/helpers/active-variable.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/playground/playground.component.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/trackml/trackml.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/cycle-events/cycle-events.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/cycle-events/cycle-events.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-selector/event-selector.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-selector/event-selector.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/experiment-info/experiment-info.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/experiment-info/experiment-info.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser-overlay/geometry-browser-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/object-clipping/object-clipping.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link-dialog/share-link-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.test.ts
Due: eslint --fix

Fix event listener accumulation on repeated init() calls
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/three-manager/controls-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/renderer-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
Due: eslint --fix

fix(jivexml): prevent crash on missing XML tags in vertex parsing
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
Due: eslint --fix

fix(three-manager): complete event listener cleanup on re-init
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

fix: reset callbacks and state on view transitions
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/state-manager.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/cms/cms.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/geometry/geometry.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/playground/playground.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/trackml/trackml.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-selector/event-selector.component.ts
Due: eslint --fix

fix(scene-manager): dispose GPU resources on event switch
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

fix linting
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

fix: dispose WebGL resources and event listeners on cleanup
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
Due: eslint --fix

fix(three-manager): clear selections on event switch to prevent memory leak
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
Due: eslint --fix

style: fix prettier issues and update lockfile
  packages/phoenix-event-display/CHANGELOG.md
  packages/phoenix-event-display/configs/jest.conf.js
  packages/phoenix-event-display/src/helpers/validation-schemas.ts
  packages/phoenix-event-display/src/loaders/cms-loader.ts
  packages/phoenix-event-display/src/tests/loaders/cms-loader.worker.test.ts
  packages/phoenix-event-display/src/workers/cms-loader.worker.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: remove Worker to fix CommonJS imports, add TextEncoder polyfill for jsroot tests
  packages/phoenix-event-display/configs/jest.conf.js
  packages/phoenix-event-display/configs/jest.setup.js
  packages/phoenix-event-display/src/loaders/cms-loader.ts
  packages/phoenix-event-display/src/tests/loaders/cms-loader.worker.test.ts
Due: eslint --fix, prettier --write

fix: dispose intermediate geometries after merging
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

fix(selection-manager): prevent duplicate event listeners on re-init
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
Due: eslint --fix

fix: clear selections before track extension to prevent stale outlines
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
Due: eslint --fix

fix: dispose intermediate geometries in GLTF loader
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
Due: eslint --fix

fix(gltf): dispose intermediate geometries after merge
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/import-manager.test.ts
Due: eslint --fix

fix(import-manager): dispose intermediate geometries after GLTF merge
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
Due: eslint --fix

fix(effects-manager): sync selection outlines with object transforms
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
Due: eslint --fix

fix(import-manager): dispose DRACOLoader to prevent Web Worker leaks
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/import-manager.test.ts
Due: eslint --fix

fix(phoenix-objects): guard against undefined track.pos
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

docs: align URL loading guide with cycling-only reload (#448)
  guides/developers/url-event-loading.md
Due: none

Update packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
Due: eslint --fix

Add time-aware EDM support and realistic animations
  TODO.md
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
  packages/phoenix-event-display/src/loaders/jsroot-event-loader.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/tests/loaders/jsroot-event-loader.test.ts
  packages/phoenix-event-display/src/tests/loaders/phoenix-loader.test.ts
  packages/phoenix-event-display/tsconfig.json
Due: eslint --fix, prettier --write

Fix JSRootEventLoader unsupported compression handling and tests
  packages/phoenix-event-display/src/loaders/jsroot-event-loader.ts
  packages/phoenix-event-display/src/tests/loaders/jsroot-event-loader.test.ts
Due: eslint --fix

fix: replace hardcoded column exclusion list with configurable Input
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix

Add optional event time support and fix JSRoot loader fallback
  packages/phoenix-event-display/src/loaders/jsroot-event-loader.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/tests/loaders/jsroot-event-loader.test.ts
Due: eslint --fix

feat: add typed event data pipeline with loader registry
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/lib/types/event-data.ts
  packages/phoenix-event-display/src/loaders/cms-loader.ts
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
  packages/phoenix-event-display/src/loaders/object-type-registry.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
Due: eslint --fix

Add event time support and realistic animation handling (#406)
  .github/workflows/smoke_test.yml
  .yarnrc.yml
  CONTRIBUTING.md
  README.md
  TODO.md
  eslint.config.mjs
  guides/developers/README.md
  guides/developers/convert-gdml-to-gltf.md
  guides/developers/event-data-loader.md
  guides/developers/event-display.md
  guides/developers/event_data_format.md
  guides/developers/geometry-tips.md
  guides/developers/set-up-phoenix.md
  guides/developers/test-setup.md
  guides/developers/using-jsroot.md
  guides/release.md
  guides/users.md
  packages/phoenix-event-display/src/loaders/jsroot-event-loader.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{js,html,scss,json}
