Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{js,html,scss,json}": "prettier --write"
}

Fix release building
  packages/phoenix-event-display/configs/webpack.conf.js
  packages/phoenix-event-display/src/browser.ts
Due: eslint --fix, prettier --write

Update Angular
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Update install instructions
  README.md
Due: none

Misc dependency updates
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Update three to v0.170
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Update jsroot to 7.8.0
  packages/phoenix-event-display/package.json
  yarn.lock
Due: prettier --write

Minor updates for new threejs version
  packages/phoenix-event-display/src/loaders/objects/tracks.ts
  packages/phoenix-event-display/src/managers/three-manager/controls-manager.ts
Due: eslint --fix

Ran upgrade script ng update @angular/cli --name use-application-builder
  packages/phoenix-ng/angular.json
  packages/phoenix-ng/tsconfig.json
Due: prettier --write

Fix build issues in angular app
  package-lock.json
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/loaders/objects/tracks.ts
  packages/phoenix-ng/angular.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix build issues in webpack
  packages/phoenix-event-display/configs/webpack.conf.js
  packages/phoenix-event-display/src/browser.ts
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/helpers/rk-helper.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/lib/types/configuration.ts
  packages/phoenix-event-display/src/loaders/cms-loader.ts
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
  packages/phoenix-event-display/src/loaders/jsroot-event-loader.ts
  packages/phoenix-event-display/src/loaders/objects/cms-objects.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/loaders/trackml-loader.ts
  packages/phoenix-event-display/src/managers/state-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/controls-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/export-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/xr/ar-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/xr/vr-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/color-options.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-ui.ts
  packages/phoenix-event-display/src/managers/url-options-manager.ts
  packages/phoenix-ng/tsconfig.json
Due: eslint --fix, prettier --write

Minor dependency updates
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Adding lodash
  packages/phoenix-event-display/package.json
  yarn.lock
Due: prettier --write

Use relative import for config-types
  packages/phoenix-event-display/src/lib/models/cut.model.ts
Due: eslint --fix

Improve output, better messaging if file missing
  packages/phoenix-event-display/src/managers/url-options-manager.ts
Due: eslint --fix

Fix for #570 - togglestate is only saved if true, so absence is false
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
Due: eslint --fix

Linting fixes
  packages/phoenix-event-display/src/managers/url-options-manager.ts
Due: eslint --fix

Add warning that automated releases are currently not working
  guides/release.md
Due: none

Set line material colour too.
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
Due: eslint --fix

Create smoke_test.yml
  .github/workflows/smoke_test.yml
Due: none

Fixed #206
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.scss
  yarn.lock
Due: prettier --write

Fixed collection-info table
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.scss
Due: prettier --write

fixed collectioninfo dropdown order
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix, prettier --write

misc (event-display): Add jet origin
  guides/users.md
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

fix: Fix handling of ATLAS AOD files with specific compression method
  packages/phoenix-event-display/src/loaders/jsroot-event-loader.ts
  packages/phoenix-event-display/src/tests/loaders/jsroot-event-loader.test.ts
Due: eslint --fix

fixes #567
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/tests/loaders/phoenix-loader.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix, prettier --write

Fixed paths to event data files in documentation
  guides/developers/event_data_format.md
Due: none

Linting fixes
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
  packages/phoenix-event-display/src/tests/loaders/phoenix-loader.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix, prettier --write

Update dependencies to angular 19
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Further updates to newest packages
  .gitignore
  .vscode/settings.json
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Fixing loading of EDM4hep event data files
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
Due: eslint --fix

Reporting hit color back to the Phoenix menu
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/color-options.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
Due: eslint --fix
