Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{js,html,scss,json}": "prettier --write"
}

feat(ui): move dark theme toggle into view options menu
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix, prettier --write

fix(event-display): fix track 'Color by' when loading JSON with linked tracks after one without (#978)
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
Due: eslint --fix

feat(event-display): allow vertices to be linked to different track types (#977)
  packages/phoenix-event-display/src/lib/types/event-data.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
Due: eslint --fix

fix(event-display): sync eta-phi view with 3d view visibility and cuts
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/loading-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.ts
Due: eslint --fix

fix(event-display): sync eta-phi view with 3d view visibility and cuts (#966)
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/loading-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/eta-phi-panel/eta-phi-panel-overlay/eta-phi-panel-overlay.component.ts
Due: eslint --fix

build(app): generate version info at build time
  .gitignore
  .prettierignore
  package.json
  packages/phoenix-ng/package.json
  scripts/generate-version.js
Due: prettier --write

feat(app): show the phoenix version on the landing page
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.html
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.scss
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.ts
Due: eslint --fix, prettier --write

ci: deploy the dev site on pushes to main
  .github/workflows/main.yml
Due: none

feat(app): landing page version (#980)
  .github/workflows/main.yml
  .gitignore
  .prettierignore
  package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.html
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.scss
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.ts
  scripts/generate-version.js
Due: eslint --fix, prettier --write

fix(ci): revert dev deploy domain to phoenix-dev2.surge.sh
  .github/workflows/main.yml
  README.md
Due: none

fix(ci): revert dev deploy domain to phoenix-dev2.surge.sh (#981)
  .github/workflows/main.yml
  README.md
Due: none

fix(ci): use github-script for deployments and fix deploy outputs
  .github/workflows/main.yml
Due: none

fix(ci): use github-script for deployments and fix deploy outputs (#982)
  .github/workflows/main.yml
Due: none

chore(ci): bump actions off Node 20 and pin to release tags
  .github/workflows/main.yml
Due: none

fix(event-display): correct anglesAreSane docs and test argument order
  packages/phoenix-event-display/src/helpers/coordinate-helper.ts
  packages/phoenix-event-display/src/tests/helpers/coordinate-helper.test.ts
Due: eslint --fix

fix(event-display): fix another issue from jsroot 7.11 jsroot 7.11 added a dependency on @resvg/resvg-js, which causes issues. We had already protected it from browser but not from webpack.
  packages/phoenix-event-display/configs/webpack.conf.js
Due: prettier --write

fix(event-display,app): add explicit licence files
  packages/phoenix-event-display/LICENSE
  packages/phoenix-ng/projects/phoenix-ui-components/LICENSE
Due: none

fix(event-display): make cartesian grid work at non-default scales
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
Due: eslint --fix

fix(ui-components): tear down grid-shift subscriptions on destroy
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
Due: eslint --fix

fix: revoke object URLs after use
  packages/phoenix-event-display/src/helpers/file.ts
  packages/phoenix-event-display/src/tests/helpers/file.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
Due: eslint --fix

fix(event-display): correct anglesAreSane docs and test argument order (#986)
  packages/phoenix-event-display/src/helpers/coordinate-helper.ts
  packages/phoenix-event-display/src/tests/helpers/coordinate-helper.test.ts
Due: eslint --fix

fix(event-display): handle malformed JSON in user-loaded files
  packages/phoenix-event-display/src/managers/state-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/tests/managers/state-manager.test.ts
Due: eslint --fix

chore(ci): bump actions off Node 20 and pin to release tags (#984)
  .github/workflows/main.yml
Due: none

fix(event-display): make cartesian grid work at non-default scales (#988)
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
Due: eslint --fix

style: format import to satisfy prettier
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
Due: eslint --fix

test(ui-components): use Subjects so grid-shift teardown is observable
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
Due: eslint --fix

test(event-display): restore URL globals after saveFile tests
  packages/phoenix-event-display/src/tests/helpers/file.test.ts
Due: eslint --fix

fix(ci): deploy PR previews for pull requests from forks
  .github/workflows/deploy-preview.yml
  .github/workflows/main.yml
  guides/developers/test-setup.md
Due: none

fix: revoke object URLs after use (#992)
  packages/phoenix-event-display/src/helpers/file.ts
  packages/phoenix-event-display/src/tests/helpers/file.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
Due: eslint --fix

fix(event-display): handle malformed JSON in user-loaded files (#994)
  packages/phoenix-event-display/src/managers/state-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/tests/managers/state-manager.test.ts
Due: eslint --fix

fix(ci): deploy PR previews for pull requests from forks (#995)
  .github/workflows/deploy-preview.yml
  .github/workflows/main.yml
  guides/developers/test-setup.md
Due: none

fix(event-display): draw hits in their own color instead of black
  packages/phoenix-event-display/src/helpers/color-utils.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/tests/helpers/color-utils.test.ts
  packages/phoenix-event-display/src/tests/loaders/objects/phoenix-objects.test.ts
Due: eslint --fix

fix(event-display): apply a loaded configuration to the scene
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/phoenix-menu/phoenix-menu-node.test.ts
Due: eslint --fix

fix(event-display): show the color a collection is actually drawn with
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
  packages/phoenix-event-display/src/tests/loaders/jivexml-menu-integration.test.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/color-manager.test.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/color-options.test.ts
Due: eslint --fix

docs(event-display): describe the accepted color formats
  guides/developers/event_data_format.md
Due: none

fix(app): Fix/sync config to gui (#996)
  guides/developers/event_data_format.md
  packages/phoenix-event-display/src/helpers/color-utils.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/tests/helpers/color-utils.test.ts
  packages/phoenix-event-display/src/tests/loaders/jivexml-menu-integration.test.ts
  packages/phoenix-event-display/src/tests/loaders/objects/phoenix-objects.test.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/color-manager.test.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/color-options.test.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/phoenix-menu/phoenix-menu-node.test.ts
Due: eslint --fix

fix(event-display): keep loading a state after an option it names is gone
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/phoenix-menu/phoenix-menu-node.test.ts
Due: eslint --fix

fix(event-display): keep loading a state after an option it names is gone (#997)
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/phoenix-menu/phoenix-menu-node.test.ts
Due: eslint --fix

build(deps): resolve vulnerable transitive tar dependency
  package.json
  yarn.lock
Due: prettier --write
