Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: merge screenshot mode into make picture menu (#540)
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
Due: eslint --fix, prettier --write

fix: add documentation for event-data-loader interfaces
  packages/phoenix-event-display/documentation/js/routes/routes_index.js
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
Due: eslint --fix, prettier --write

feat: add URL deep linking with full view state sharing
  packages/phoenix-event-display/src/managers/state-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/url-options-manager.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link-dialog/share-link-dialog.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link-dialog/share-link-dialog.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link-dialog/share-link-dialog.component.ts
Due: eslint --fix, prettier --write

fix: upgrade TypeScript to 5.7 with Jest ESM mocks
  package.json
  packages/phoenix-event-display/configs/compodoc.conf.json
  packages/phoenix-event-display/configs/jest.conf.js
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/tests/helpers/angular-core-mock.ts
  packages/phoenix-event-display/src/tests/helpers/jsroot-mock.ts
  packages/phoenix-event-display/src/tests/helpers/three-jsm-mock.ts
  packages/phoenix-ng/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Git rebase
  docs/assets/geometry/ATLAS/.SCT.obj.icloud
  docs/assets/geometry/ATLAS/.toroids.obj.icloud
  packages/phoenix-ng/projects/phoenix-app/src/assets/geometry/ATLAS/.SCT.obj.icloud
  packages/phoenix-ng/projects/phoenix-app/src/assets/geometry/ATLAS/.toroids.obj.icloud
Due: none

Reduce number of passes through EDM4hep JSON event data to only one
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
Due: eslint --fix

fix: add Angular 20 compatibility by upgrading dependencies and migrating to application builder
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/angular.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-app/src/styles.scss
  packages/phoenix-ng/projects/phoenix-app/tsconfig.app.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

fix(renderer-manager): swap renderers in class state instead of local params
  packages/phoenix-event-display/src/managers/three-manager/renderer-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/renderer-manager.test.ts
Due: eslint --fix

refactor: add button styling for screenshot mode
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.scss
Due: prettier --write

fix: align screenshot mode button styling
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.scss
Due: prettier --write

Create type namespace for each schema
  packages/phoenix-event-display/src/lib/types/schemas/schema1.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema3.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema4.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema5.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema6.ts
  packages/phoenix-event-display/src/lib/types/schemas/utils.ts
Due: eslint --fix

Move schema types folder and fix bigint support
  packages/phoenix-ng/projects/phoenix-ui-components/lib/types/schemas/schema1.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/types/schemas/schema2.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/types/schemas/schema3.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/types/schemas/schema4.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/types/schemas/schema5.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/types/schemas/schema6.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/types/schemas/utils.ts
Due: eslint --fix

fix: upgrade tween.js to v25 with explicit group management
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/controls-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/animations-manager.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: make UI components configurable via UIMenuConfig (#61)
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.ts
Due: eslint --fix, prettier --write

Define types
  packages/phoenix-event-display/src/lib/types/schemas/schema1.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema3.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema4.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema5.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema6.ts
Due: eslint --fix

Define common types for all schemas
  packages/phoenix-event-display/src/lib/types/schemas/utils.ts
Due: eslint --fix

Add EventHeader to types
  packages/phoenix-event-display/src/lib/types/schemas/schema1.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema3.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema4.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema5.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema6.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/types/schemas/utils.ts
Due: eslint --fix

Export collection types
  packages/phoenix-event-display/src/lib/types/schemas/schema1.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema3.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema4.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema5.ts
  packages/phoenix-event-display/src/lib/types/schemas/schema6.ts
Due: eslint --fix

Create types to group all schemas
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema1.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema3.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema4.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema5.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema6.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/utils.ts
  packages/phoenix-event-display/src/lib/types/edm4hep.ts
  packages/phoenix-event-display/src/lib/types/edmPhoenix.ts
Due: eslint --fix

Acount for link type between ReconstructedParticle and MCParticle accross all schemas
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema1.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema3.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema4.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema5.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema6.ts
  packages/phoenix-event-display/src/lib/types/edm4hep.ts
Due: eslint --fix

Fix types
  packages/phoenix-event-display/src/lib/types/edm4hep.ts
Due: eslint --fix

Add MCParticle to all schema types
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema1.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema3.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema4.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema5.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema6.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/utils.ts
  packages/phoenix-event-display/src/lib/types/edm4hep.ts
Due: eslint --fix

Simplify types
  packages/phoenix-event-display/src/lib/types/edm4hep.ts
Due: eslint --fix

Push changes
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader2.ts
Due: eslint --fix

Update types
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema1.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema3.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema4.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema5.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema6.ts
  packages/phoenix-event-display/src/lib/types/edm4hep.ts
  packages/phoenix-event-display/src/lib/types/edmPhoenix.ts
Due: eslint --fix

Update types
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/utils.ts
Due: eslint --fix

Continue development
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader2.ts
Due: eslint --fix

fix: deduplicate three.js instance bundled by jsroot
  package.json
  scripts/patch-jsroot-three.js
  yarn.lock
Due: prettier --write

Apply Copilot review suggestions: simplify outputPath, add node: prefixed externalDependencies, and use signed-by keyring for Dockerfile Node setup
  Dockerfile
  packages/phoenix-ng/angular.json
Due: prettier --write

fix: use Angular build configs for deploy scripts to avoid outputPath override
  packages/phoenix-ng/angular.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link.component.test.ts
Due: eslint --fix, prettier --write

fix: restore default UI config for LHCb
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.html
Due: prettier --write

feat: add command palette for quick access to actions and collections
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.html
  packages/phoenix-ng/projects/phoenix-app/src/assets/icons/command.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/command-palette/command-palette.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/command-palette/command-palette.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/command-palette/command-palette.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
Due: eslint --fix, prettier --write

Continue loader work
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader2.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{js,html,scss,json}
