Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{js,html,scss,json}": "prettier --write"
}

feat: add default outline to jets for better overlap visibility
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/share-link/share-link-dialog/share-link-dialog.component.ts
Due: eslint --fix

Simplify types
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema1.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema3.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema4.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema5.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema6.ts
  packages/phoenix-event-display/src/lib/types/edm4hep.ts
Due: eslint --fix

Delete aux file
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader2.ts
Due: eslint --fix

Locally disable TypeScript ESLint namespace rule
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema1.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema2.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema4.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema5.ts
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema6.ts
  packages/phoenix-event-display/src/lib/types/edm4hep.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay-view/overlay-view-window/overlay-view-window.component.ts
Due: eslint --fix

Refactor loader
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
Due: eslint --fix

Debug code
  packages/phoenix-event-display/src/lib/types/edm4hep-schemas/schema3.ts
  packages/phoenix-event-display/src/lib/types/edmPhoenix.ts
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
Due: eslint --fix

Exclude TrackerHitPlane and SenseWireHit
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
Due: eslint --fix

Remove property nullity checks
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
Due: eslint --fix

Refactor edm4hep json loader [Read more]
  packages/phoenix-event-display/src/lib/types/edm4hep.ts
  packages/phoenix-event-display/src/lib/types/edmPhoenix.ts
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
Due: eslint --fix

feat: add time-aware EDM support and realistic animations (fixes #406)
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/dat-gui-ui.ts
  packages/phoenix-event-display/src/tests/loaders/phoenix-loader.test.ts
Due: eslint --fix

docs: add missing documentation for EventMetadata and EventDataLoader
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
Due: eslint --fix

feat: add masterclass particle tagging and invariant mass calculator
  packages/phoenix-event-display/src/helpers/invariant-mass.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-ng/projects/phoenix-app/src/assets/icons/physics.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
Due: eslint --fix, prettier --write

feat: Add unified callback API for easier Phoenix integration
  packages/phoenix-event-display/documentation/js/routes/routes_index.js
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
Due: eslint --fix, prettier --write

fix: complete callback integration tests and remove skipped suites
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/cms/cms.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-data-explorer/event-data-explorer-dialog/event-data-explorer-dialog.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-data-explorer/event-data-explorer-dialog/event-data-explorer-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/file-loader.service.component.test.ts
Due: eslint --fix

fix: implement callback API review suggestions and tests
  .gitignore
  packages/phoenix-event-display/documentation/js/routes/routes_index.js
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
  packages/phoenix-event-display/src/tests/event-display-callbacks.test.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/selection-manager.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/cms/cms.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-data-explorer/event-data-explorer-dialog/event-data-explorer-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add PHYSLITE ROOT file loader for ATLAS Open Data (#823)
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/loaders/physlite-loader.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/extras/event-data-import.ts
Due: eslint --fix

feat: add configurable masterclass panel with event bus for external integration
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/helpers/invariant-mass.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.html
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/assets/icons/physics.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.ts
Due: eslint --fix, prettier --write

fix(event-display): replace rainbow shader with glow outline - addresses #839
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
Due: eslint --fix

fix: convert makeRequest() to async/await with proper error propagation
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/event-data-explorer/event-data-explorer-dialog/event-data-explorer-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/file-loader.service.ts
Due: eslint --fix

refactor: include URL in error log and use res.arrayBuffer() directly
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/file-loader.service.ts
Due: eslint --fix

feat: add EventAutoloader for live event streaming from directories/endpoints
  phoenix/packages/phoenix-event-display/src/helpers/event-autoloader.ts
  phoenix/packages/phoenix-event-display/src/index.ts
  phoenix/packages/phoenix-ng/projects/phoenix-ui-components/lib/services/event-autoloader.service.ts
  phoenix/packages/phoenix-ng/projects/phoenix-ui-components/lib/services/index.ts
Due: eslint --fix

feat: run preset animations in screenshot mode for OBS recording
  phoenix/packages/phoenix-event-display/src/event-display.ts
  phoenix/packages/phoenix-event-display/src/loaders/jivexml-loader.ts
  phoenix/packages/phoenix-event-display/src/managers/url-options-manager.ts
  phoenix/packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/animate-camera.component.html
  phoenix/packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/animate-camera.component.ts
  phoenix/packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ss-mode/ss-mode.component.ts
Due: eslint --fix, prettier --write

feat: animate pileup interactions sequenced by timestamp (#235)
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/lib/types/event-data.ts
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-event/animate-event.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-event/animate-event.component.ts
Due: eslint --fix, prettier --write

fix: add missing ngOnDestroy cleanup in 4 UI components
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/loader/loader.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/zoom-controls/zoom-controls.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/error-message-service.ts
Due: eslint --fix

refactor: address review suggestions
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/error-message-service.ts
Due: eslint --fix

feat: offload JiveXML/JSON parsing to Web Worker to prevent UI freeze
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
  packages/phoenix-event-display/src/workers/event-data-parser.ts
  packages/phoenix-event-display/src/workers/event-data-parser.worker.ts
Due: eslint --fix

fix(docker): set HUSKY=0 to prevent postinstall failure in Docker build
  Dockerfile
Due: none

fix: include userData in callback data for external physics analysis
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/selection-manager.test.ts
Due: eslint --fix

style: fix prettier formatting for callback data objects
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
  packages/phoenix-event-display/src/tests/managers/three-manager/selection-manager.test.ts
Due: eslint --fix

perf(phoenix-ng): isolate animation loop outside NgZone
  packages/phoenix-ng/projects/phoenix-ui-components/lib/services/event-display.service.ts
Due: eslint --fix

fix(io-options-dialog): add try/catch for JSON parse errors with user feedback (#842)
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
Due: eslint --fix

feat(state-manager): serialize cut state to JSON and restore via Load State
  packages/phoenix-event-display/src/lib/models/cut.model.ts
  packages/phoenix-event-display/src/managers/state-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/tests/lib/models/cut.model.test.ts
  packages/phoenix-event-display/src/tests/managers/state-manager.test.ts
Due: eslint --fix

docs: add missing JSDoc comments to CutJSON and Cut constructor
  packages/phoenix-event-display/src/lib/models/cut.model.ts
Due: eslint --fix

fix: correct getCollections() return type to match EventDataLoader interface
  packages/phoenix-event-display/src/event-display.ts
Due: eslint --fix

fix: add unsubscribe return to listenTo* methods and fix prettier formatting
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
Due: eslint --fix

fix(test): mock EventDataParserWorker in Jest to resolve import.meta.url failure
  packages/phoenix-ng/jest.config.js
  packages/phoenix-ng/projects/phoenix-ui-components/lib/test-helpers/event-data-parser-mock.ts
Due: eslint --fix, prettier --write

fix(test): mock worker in both Jest configs and resolve phoenix-event-display from source
  packages/phoenix-event-display/configs/jest.conf.js
  packages/phoenix-event-display/src/tests/helpers/event-data-parser-mock.ts
  packages/phoenix-ng/jest.config.js
Due: eslint --fix, prettier --write

fix(test): mock worker in both Jest configs and resolve phoenix-event-display from source
  packages/phoenix-event-display/configs/jest.conf.js
Due: prettier --write

feat(effects-manager): add EffectsState enum for typed visual state management (#886)
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
Due: eslint --fix
