Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update angular
  packages/phoenix-ng/package.json
Due: prettier --write

Update @typescript-eslint
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Update angular part 2
  package-lock.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Updating babel etc
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Rebased to main
  yarn.lock
Due: none

Update checkout code action to hopefully get more recent node version
  .github/workflows/smoke_test.yml
Due: none

feat(event-display): remove Angular dependency and add framework-agnostic EventEmitter
  .gitignore
  jest.setup.ts
  package.json
  packages/phoenix-event-display/configs/jest.conf.cjs
  packages/phoenix-event-display/configs/jest.conf.js
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/helpers/event-emitter.ts
  packages/phoenix-event-display/src/index.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/tests/__mocks__/three-examples.mock.ts
  packages/phoenix-event-display/src/tests/helpers/event-emitter.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/trackml/trackml.component.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

Prettier linting fix
  packages/phoenix-event-display/configs/jest.conf.cjs
Due: none

fix(app): isolate Jest and Cypress TypeScript types to restore IntelliSense
  packages/phoenix-ng/projects/phoenix-app/cypress/tsconfig.json
  packages/phoenix-ng/tsconfig.spec.json
Due: prettier --write

chore(docker): use corepack and skip Cypress binary for docs build solved the docker build and smoke test which it was having
  Dockerfile
Due: none

ci: bump checkout and buildx actions to remove deprecated set-output warnings
  .github/workflows/smoke_test.yml
Due: none

feat: add tiled screenshot rendering to support very large images (#581)
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

Fix phoenix-ng:test:ci failure: resolve type mismatches and update mocks
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/playground/playground.component.test.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/trackml/trackml.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix

fix: resolve prettier errors in jest.conf.cjs
  packages/phoenix-event-display/configs/jest.conf.cjs
Due: none

fix: safe camera view offset calls
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

fix: hide labels during animations until event objects fully appear
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

Add missing documentation
  packages/phoenix-event-display/src/tests/__mocks__/three-examples.mock.ts
Due: eslint --fix

Add missing documentation
  packages/phoenix-event-display/src/helpers/event-emitter.ts
Due: eslint --fix

Fix linting
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

Add missing documentation
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

chore: apply prettier and eslint fixes fix(event-display): hide labels during animation until objects appear
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

Updated lock file
  yarn.lock
Due: none

fix(make-picture): remove outdated size check for tiled screenshots
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.ts
Due: eslint --fix

fix: remove checkSize and disabled logic as requested
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/make-picture/make-picture.component.ts
Due: eslint --fix

feat: support per-track linewidth in TracksMesh
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/loaders/objects/tracks.ts
  packages/phoenix-event-display/src/tests/loaders/objects/tracks.test.ts
Due: eslint --fix

fix: restore crop/stretch logic + integrate tiling safely
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

fix: correct Stretch screenshot aspect ratio & restore camera aspect
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

fix: restore stretch aspect logic + safe TS guards
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

fix: correct stretch rendering logic, remove crop offsets, proper viewOffset and aspect handling
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

fix: initialize callback functions + update Docker install step to fix CI
  Dockerfile
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

fix: resolve Dockerfile conflict and enable native build for lmdb
  Dockerfile
Due: none

Revert "chore: apply prettier and eslint fixes"
  packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

Linting fixes
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
  packages/phoenix-event-display/src/tests/loaders/phoenix-loader.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix, prettier --write

fixes #567
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-event-display/src/loaders/event-data-loader.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/tests/loaders/phoenix-loader.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.ts
Due: eslint --fix, prettier --write

Update phoenix-loader.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
Due: eslint --fix

Try to get the tests passing again
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.test.ts
Due: eslint --fix

Helps with debugging
  .vscode/launch.json
  .vscode/settings.json
Due: prettier --write

fix: initialize callbacks + update Dockerfile base image to fix CI
  Dockerfile
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

Minor updates of some externals
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{js,html,scss,json}
