Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{js,html,scss,json}": "prettier --write"
}

Fix overlay positioning mock in unit tests
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/collections-info/collections-info.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/geometry-browser/geometry-browser.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/info-panel/info-panel.component.test.ts
Due: eslint --fix

Update cms-loader.ts with new changes
  packages/phoenix-event-display/src/loaders/cms-loader.ts
Due: eslint --fix

Optimize IG archive loading with single-pass regex and finally block
  packages/phoenix-event-display/src/loaders/cms-loader.ts
Due: eslint --fix

refactor: modernize ImportManager and improve type safety
  packages/phoenix-event-display/src/managers/three-manager/import-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

refactor(effects-manager): extract GLSL shaders to .glsl files via raw-loader (#886)
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/shaders/hover-fragment.ts
  packages/phoenix-event-display/src/managers/three-manager/shaders/hover-vertex.ts
  packages/phoenix-ng/jest.config.js
Due: eslint --fix, prettier --write

docs: add EventAutoloader documentation
  guides/developers/README.md
  guides/developers/event-autoloader.md
Due: none

build: add commitlint for angular convention
  package.json
  yarn.lock
Due: prettier --write

perf: optimize PHYSLITELoader memory allocation and enforce strict types
  packages/phoenix-event-display/src/loaders/physlite-loader.ts
Due: eslint --fix

docs: add missing JSDoc to all public parsers
  packages/phoenix-event-display/src/loaders/physlite-loader.ts
Due: eslint --fix

docs: fix JSDoc syntax error on convertCompoundObjects
  packages/phoenix-event-display/src/loaders/physlite-loader.ts
Due: eslint --fix

docs: include private members and constants to hit 100% coverage
  packages/phoenix-event-display/src/loaders/physlite-loader.ts
Due: eslint --fix

perf(loaders): optimize PHYSLITE memory allocation and array parsing
  packages/phoenix-event-display/src/loaders/physlite-loader.ts
Due: eslint --fix

feat: Add download preset animations with curtain loader
  package.json
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/animate-camera.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/animate-camera.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/animate-camera.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/download-animation-dialog/download-animation-dialog.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/download-animation-dialog/download-animation-dialog.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/animate-camera/download-animation-dialog/download-animation-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(notification-toast): add NotificationToastComponent to display service notifications via MatSnackBar (WA1 Step 3)
  packages/phoenix-ng/projects/phoenix-app/src/app/app.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/notification-toast/notification-toast.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/notification-toast/notification-toast.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/notification-toast/notification-toast.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/notification-toast/notification-toast.component.ts
Due: eslint --fix, prettier --write

style: format notification toast files with prettier
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/notification-toast/notification-toast.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/notification-toast/notification-toast.component.ts
Due: eslint --fix

Update session recording shortcut to Ctrl+Alt+V
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/session-pill/session-pill.component.html
Due: eslint --fix, prettier --write

Update session recording shortcut to Shift+S
  packages/phoenix-event-display/src/event-display.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/session-pill/session-pill.component.html
Due: eslint --fix, prettier --write

fix: restrict masterclass track selection to track-type collections (closes #923)
  packages/phoenix-event-display/src/helpers/invariant-mass.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/masterclass-panel/masterclass-panel-overlay/masterclass-panel-overlay.component.ts
Due: eslint --fix

Implement track cuts by distance of closest approach (DCA) and angle
  packages/phoenix-event-display/src/helpers/pretty-symbols.ts
  packages/phoenix-event-display/src/loaders/object-type-registry.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/tests/loaders/objects/phoenix-objects.test.ts
Due: eslint --fix

build: add commitlint configuration and hook
  .github/workflows/commitlint.yml
  .husky/commit-msg
  commitlint.config.js
  package.json
Due: prettier --write

feat(ui): add shortcuts dialog and enable independent drag
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/shortcuts-dialog/shortcuts-dialog.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/shortcuts-dialog/shortcuts-dialog.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/shortcuts-dialog/shortcuts-dialog.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
Due: eslint --fix, prettier --write

fix(ui): prevent loader from replacing progress bar with error overlay
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/loader/loader.component.html
Due: prettier --write

fix(ui): remove non-fatal error display from loader completely
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/loader/loader.component.html
Due: prettier --write

feat(io-options-dialog): wire NotificationService to surface IO errors as toasts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.ts
Due: eslint --fix

Make cuts panel compact: inline checkbox+input per side, add scrollability (#953)
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.scss
Due: prettier --write

fix(app): missing icons in import pop up
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.scss
Due: prettier --write

fix(app,event-display): removed deprecated tsconfig.json options to fix build errors
  packages/phoenix-event-display/tsconfig.json
  packages/phoenix-ng/tsconfig.json
Due: prettier --write

feat(app): fix for #950, allows setting of precise clipping angles
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/object-clipping/object-clipping.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/object-clipping/object-clipping.component.scss
Due: prettier --write

fix(ui): revert cdkDrag on phoenix menu to fix color picker bug
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu.component.html
Due: prettier --write

fix(app): make the shortcuts font match the phoenix menu etc
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu.component.scss
Due: prettier --write

docs(event-display): remove event data information from here
  guides/users.md
Due: none

docs(event-display): add some more detailed information about what information is supported
  guides/developers/event_data_format.md
Due: none

feat(event-display): refactor handling of unsafe collection names
  packages/phoenix-event-display/src/loaders/jivexml-loader.ts
Due: eslint --fix

fix(event-display): make track "Color by" options work
  packages/phoenix-event-display/src/lib/types/event-data.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
  packages/phoenix-event-display/src/managers/three-manager/color-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/color-options.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/config-types.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-node.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-ui.ts
  packages/phoenix-event-display/src/tests/loaders/jivexml-menu-integration.test.ts
  packages/phoenix-event-display/src/tests/managers/ui-manager/phoenix-menu/phoenix-menu-node.test.ts
Due: eslint --fix

fix(ui): reflect the stored select value in phoenix menu dropdowns
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.html
Due: prettier --write

fix(app): remove stale color-by configs from the ATLAS menu config
  packages/phoenix-ng/projects/phoenix-app/src/assets/files/config/atlas-config.json
Due: prettier --write

feat(ui): show collection options as a compact icon toolbar
  packages/phoenix-event-display/src/managers/ui-manager/color-options.ts
  packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts
  packages/phoenix-ng/projects/phoenix-app/src/assets/icons/color-options.svg
  packages/phoenix-ng/projects/phoenix-app/src/assets/icons/cut-options.svg
  packages/phoenix-ng/projects/phoenix-app/src/assets/icons/draw-options.svg
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.ts
Due: eslint --fix, prettier --write

fix(ui): make the cut menu numbers fully visible
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-menu/phoenix-menu-item/phoenix-menu-item.component.scss
Due: prettier --write
