Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Integrated the cartesian grid in the view options
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/lhcb.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/cartesian-grid/cartesian-grid.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/cartesian-grid/cartesian-grid.component.spec.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/cartesian-grid/cartesian-grid.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/ui-menu.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.spec.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.scss
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix, prettier --write

Sliders updating values even WHILE sliding
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
Due: eslint --fix, prettier --write

Adjusted some styling of cartesian grid dialog box
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix, prettier --write

Rotated the grid numbers, added ticks
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

set initial sparsity to 2
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

Pointed axes numbers always towards the main camera
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

Removed an unnecessary console.log statement
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

Added units (cm) for the grid
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/assets/icons/grid.svg
Due: eslint --fix

changed parathesis for units from '()' to '[]'
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

Fixed linting error
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.spec.ts
Due: eslint --fix

Fixed linting issue in the html file
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.html
Due: prettier --write

Update minor package versions
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Update Angular and other packages to latest version
  lerna.json
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: eslint --fix, prettier --write

Update three.js and lerna to latest versions
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Remove lerna link as it's deprecated
  package.json
Due: prettier --write

Fix jest configuration with the new update
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
  packages/phoenix-ng/jest.config.js
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

Fix jest config and failing tests
  packages/phoenix-ng/jest.config.js
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/phoenix-ui.module.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix, prettier --write

Adding arrows to visualize MC particles
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
Due: eslint --fix

Adding names and color
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
Due: eslint --fix

Adding possibility to specify opacity for a calorimeter cell
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

Adjusting font size/shape
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
Due: eslint --fix

Update main.yml
  .github/workflows/main.yml
Due: none

mergeGeometries instead mergeBufferGeometries
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

Prettier changes
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

update test files
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.spec.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.ts
Due: eslint --fix

prettier fix
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
Due: eslint --fix

prettier fix
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
Due: eslint --fix

fix tests
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/view-options.component.test.ts
Due: eslint --fix

fix tests
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
Due: eslint --fix

test fix
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
Due: eslint --fix

fix a comment in ui manager
  packages/phoenix-event-display/src/managers/ui-manager/index.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
Due: eslint --fix

fix comment in scene manager
  packages/phoenix-event-display/src/managers/three-manager/scene-manager.ts
Due: eslint --fix

fix tests
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
Due: eslint --fix

fix tests
  packages/phoenix-event-display/src/tests/managers/three-manager/scene-manager.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/view-options/cartesian-grid-config/cartesian-grid-config.component.test.ts
Due: eslint --fix

Fix IOOptionsDialog component tests
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.test.ts
Due: eslint --fix

Fix lint errors
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.test.ts
Due: eslint --fix

fix #591 - color should be int not string
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

We migrated master to main - fix this in a few places
  README.md
  guides/developers/set-up-phoenix.md
  guides/developers/test-setup.md
  packages/phoenix-event-display/README.md
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/projects/phoenix-app/src/app/home/home.component.html
  packages/phoenix-ng/projects/phoenix-ui-components/README.md
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
Due: prettier --write

Prettier fixes
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{js,html,scss,json}
