Repository HSF/phoenix: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{js,html,scss,json}": "prettier --write"
}

Separating tracker hits by quality flags
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
  yarn.lock
Due: eslint --fix

Added splitting of track hits by PDG of the particle
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
Due: eslint --fix

Removed logging to the console
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
Due: eslint --fix

adjusting yarn lock file
  yarn.lock
Due: none

Update Yarn installation instructions
  README.md
Due: none

EDM4hep loader: Allowing new style of links (to, from)
  packages/phoenix-event-display/src/loaders/edm4hep-json-loader.ts
Due: eslint --fix

feat(event-display): implement performant rainbow selection system with multi-object support
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/index.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
Due: eslint --fix

fix(event-display): a patch to a typo
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
Due: eslint --fix

fix(app): fixing tests
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/main-view-toggle/main-view-toggle.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay-view/overlay-view-window/overlay-view-window.component.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/overlay/overlay.component.test.ts
Due: eslint --fix

docs(event-display): adding the missing doc
  packages/phoenix-event-display/src/managers/three-manager/controls-manager.ts
Due: eslint --fix

feat(event-display): implement rainbow outline selection system with EdgesGeometry
  packages/phoenix-event-display/src/managers/three-manager/effects-manager.ts
  packages/phoenix-event-display/src/managers/three-manager/selection-manager.ts
Due: eslint --fix

feat(event-display): migrate to controls-based architecture with dual canvas support
  packages/phoenix-event-display/src/managers/three-manager/index.ts
Due: eslint --fix

test(event-display): update selection manager tests for new multi-object functionality
  packages/phoenix-event-display/src/tests/managers/three-manager/selection-manager.test.ts
  packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/io-options/io-options-dialog/io-options-dialog.component.test.ts
Due: eslint --fix

Update jsroot and threejs
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Update angular to latest v19
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

More dep updates
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Update cypress, webpack, esbuild-loader, lint-staged
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Fixed hierarchy support in the phoenix menu when loading from GLTF
  packages/phoenix-event-display/src/event-display.ts
Due: eslint --fix

Updated LHCb geometry to dd4hep and 2025 version
  docs/assets/geometry/LHCb/LHCb.glb.zip
  packages/phoenix-ng/projects/phoenix-app/src/assets/geometry/LHCb/LHCb.glb.zip
Due: none

Updated LHCb geometry to dd4hep and 2025 version
  docs/assets/geometry/LHCb/LHCb.glb.zip
  packages/phoenix-ng/projects/phoenix-app/src/app/sections/lhcb/vp-toggle/vp-toggle.component.ts
  packages/phoenix-ng/projects/phoenix-app/src/assets/geometry/LHCb/LHCb.glb.zip
Due: eslint --fix

Fix irregular calos
  packages/phoenix-event-display/src/loaders/objects/phoenix-objects.ts
Due: eslint --fix

Added script to generate LHCb live events for phoenix
  tools/liveEventDisplay.py
Due: none

Adapted for LHCb usage
  .gitlab-ci.yml
  packages/phoenix-ng/projects/phoenix-app/src/app/app.module.ts
Due: eslint --fix

Update phoenix-loader.ts
  packages/phoenix-event-display/src/loaders/phoenix-loader.ts
Due: eslint --fix

Remove debug log
  lerna-debug.log
Due: none

Update TS version to 5.9
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Update webpack and minor angular update
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Update angular
  packages/phoenix-ng/package.json
Due: prettier --write

Update @typescript-eslint
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Update angular part 2
  package-lock.json
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-ui-components/package.json
  yarn.lock
Due: prettier --write

Updating babel etc
  package.json
  packages/phoenix-event-display/package.json
  packages/phoenix-ng/package.json
  yarn.lock
Due: prettier --write

Suppress warnings about lodash and html2canvas
  packages/phoenix-ng/angular.json
Due: prettier --write

Update main.yml for new Surge.sh details
  .github/workflows/main.yml
Due: none

Update output setting method in GitHub Actions
  .github/workflows/main.yml
Due: none

Enhance CI workflow with coverage condition and debugging
  .github/workflows/main.yml
Due: none

fix: replace cypress-plugin-snapshots with @frsource/cypress-plugin-visual-regression-diff
  packages/phoenix-ng/cypress.config.ts
  packages/phoenix-ng/package.json
  packages/phoenix-ng/projects/phoenix-app/cypress/plugins/index.ts
  packages/phoenix-ng/projects/phoenix-app/cypress/support/e2e.ts
  yarn.lock
Due: eslint --fix, prettier --write
